@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables";
@import "../node_modules/font-awesome/scss/font-awesome";
$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$background-moredark: #4527a0;
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 20px;
  display: flex;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
  background-color: $background-pale;
  border: 1px solid $background-moredark;
  z-index: 1;
  transform: scale(1.01);
}
